* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  }
  
body {
  display: flex;
  justify-content: center;
}
    
.container {
  margin-top: 120px; 
  width: 1100px;
  height: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.home {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  height: 400px;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #2F4F4F;
}

.button {
  margin: 30px 300px 10px 60px;
  width: 870px;
}
  
#clearBtn {
  float: right;
} 

.home .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-top: 20px;
} 
  
.home textarea {
  border-radius: 10px;
  border: 0px;
  box-shadow: 3px 5px #008B8B;
}

#md5TextInput {
  width: 900px;
  height: 200px;
  border: 1px solid #008B8B;
  color: #2F4F4F;
  font-weight: 700;
  margin: 0 auto;
}
  
#md5TextInput:focus {
  border: 2px solid #008B8B;
}

#sh1TextInput {
  width: 900px;
  height: 200px;
  border: 1px solid #008B8B;
  color: #2F4F4F;
  font-weight: 700;
  margin: 0 auto;
}
  
#sh1TextInput:focus {
  border: 2px solid #008B8B;
}

#sh256TextInput {
  width: 900px;
  height: 200px;
  border: 1px solid #008B8B;
  color: #2F4F4F;
  font-weight: 700;
  margin: 0 auto;
}
  
#sh256TextInput:focus {
  border: 2px solid #008B8B;
}

.outputSection {
  border: 2px solid black;
  width: 1000px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #008B8B;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #2F4F4F;
  display: none;
}
  
.outputSection .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-top: 20px;
}
  
.outputSection textarea {
  border-radius: 10px;
  box-shadow: 3px 5px #008B8B;
}
  
.outputBox {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

#textMd5Output {
  width: 900px;
  height: 50px;
  color: #2F4F4F;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

#textSh1Output {
  width: 900px;
  height: 50px;
  color: #2F4F4F;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

#textSh256Output {
  width: 900px;
  height: 50px;
  color: #2F4F4F;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}
  
.md5Section {
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #008B8B;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #2F4F4F;
  display: block;
  padding: 15px;
  
}
  
.md5Section p {
  color: #2F4F4F;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
  
.md5Section .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-top: 20px;
}

.sh1Section {
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #008B8B;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #2F4F4F;
  display: block;
  padding: 15px;

}
  
.sh1Section p {
  color: #2F4F4F;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
  
.sh1Section .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-top: 20px;
}

.sh256Section {
  width: 1000px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #008B8B;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #2F4F4F;
  display: block;
  padding: 15px;
}
  
.sh256Section p {
  color: #2F4F4F;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
  
.sh256Section .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-top: 20px;
}
  
.md5SubSection .subTitle {
  font-size: 20px;
  padding: 5px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
}

.sh1SubSection .subTitle {
  font-size: 20px;
  padding: 5px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
}

.sh256SubSection .subTitle {
  font-size: 20px;
  padding: 5px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
}