* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
    
body {
  display: flex;
  justify-content: center;
}
    
.container {
  margin-top: 120px; 
  width: 1100px;
  height: 750px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
  
@media screen and (max-width: 900px) {
  .container {
    margin-top: 80px; 
    width: 734px;
    height: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.home {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  height: 400px;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #2F4F4F;
}

@media screen and (max-width: 1100px) {
  .home {
    position: relative;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 670px;
    height: 400px;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #2F4F4F;
  }
}

.button {
  margin: 30px 300px 10px 60px;
  width: 870px;
}

@media screen and (max-width: 1100px) {
  .button {
    margin: 20px 200px 8px 40px;
    width: 580px;
  }
}

#clearBtn {
  float: right;
} 

.home .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-top: 0px;
} 

@media screen and (max-width: 1100px) {
  .home .title {
    font-size: 22px;
    font-weight: 600;
    color: #2F4F4F;
    margin-top: 0px;
  } 
}

.home textarea {
  border: 0px;
  box-shadow: 2px 2px #008B8B;
}

.home label {
  font-size: 16px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-left: 50px;
  width: 900px;
}

@media screen and (max-width: 1100px) {
  .home label {
    font-size: 14px;
    font-family: 'Poppins' sans-serif;
    font-weight: 535;
    color: #2F4F4F;
    margin-left: 34px;
    width: 600px;
  }
  
}

#redColorInput {
  position: relative;
  width: 900px;
  height: 30px;
  border: 1px solid #008B8B;
  color: #2F4F4F;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 3px;
  padding-left: 10px;
}

@media screen and (max-width: 1100px) {
  #redColorInput {
    position: relative;
    width: 600px;
    height: 30px;
    border: 1px solid #008B8B;
    color: #2F4F4F;
    font-weight: 467;
    margin: 0 auto;
    padding-top: 2px;
    padding-left: 8px;
  }
}
  
#redColorInput:focus {
  border: 2px solid #008B8B;
}

#greenColorInput {
  position: relative;
  margin-top: 5px;
  width: 900px;
  height: 30px;
  border: 1px solid #008B8B;
  color: #2F4F4F;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 3px;
  padding-left: 10px;
}

@media screen and (max-width: 1100px) {
  #greenColorInput {
    position: relative;
    margin-top: 5px;
    width: 600px;
    height: 30px;
    border: 1px solid #008B8B;
    color: #2F4F4F;
    font-weight: 467;
    margin: 0 auto;
    padding-top: 2px;
    padding-left: 8px;
  }
}

#greenLabel {
  margin-top: 10px;
}

#greenColorInput:focus {
  border: 2px solid #008B8B;
}

#blueColorInput {
  width: 900px;  
  height: 30px;
  border: 1px solid #008B8B;
  color: #2F4F4F;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 3px;
  padding-left: 10px;
}

@media screen and (max-width: 1100px) {
  #blueColorInput {
    width: 600px;  
    height: 30px;
    border: 1px solid #008B8B;
    color: #2F4F4F;
    font-weight: 467;
    margin: 0 auto;
    padding-top: 2px;
    padding-left: 8px;
  }
}

#blueLabel {
  margin-top: 10px;
}

#blueColorInput:focus {
  border: 2px solid #008B8B;
}

.outputSection {
  border: 2px solid black;
  width: 1000px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #008B8B;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #2F4F4F;
  display: none;
}

@media screen and (max-width: 1100px) {
  .outputSection {
    border: 2px solid black;
    width: 670px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #008B8B;
    background-color: #F5F5F5;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #2F4F4F;
    display: none;
  }
}
    
.outputSection .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .outputSection .title {
    position: relative;
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
    color: #2F4F4F;
    margin-top: 16px;
  }
}

.outputBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#rgbToHexOutput {
  width: 200px;
  height: 60px;
}

@media screen and (max-width: 1100px) {
  #rgbToHexOutput {
    width: 135px;
    height: 60px;
  }
}

.hexTitle {
  position: relative;
  font-size: 25px;
  font-family: 'Poppins' sans-serif;
  font-weight: 700;
  color: #2F4F4F;
  margin-right: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 1100px) {
  .hexTitle {
    font-size: 22px;
    font-weight: 467;
    color: #2F4F4F;
    margin-right: 14px;
    margin-top: 8px;
  }
}

.rgbHexSection {
  width: 1000px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #008B8B;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #2F4F4F;
  display: block;
  padding: 15px;
}

@media screen and (max-width: 1100px) {
  .rgbHexSection {
    width: 670px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #008B8B;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #2F4F4F;
    display: block;
    padding: 10px;
  }
}
  
.rgbHexSection p {
  color: #2F4F4F;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

@media screen and (max-width: 1100px) {
  .rgbHexSection p {
    color: #2F4F4F;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
  }
}

.rgbHexSection .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .rgbHexSection .title {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins' sans-serif;
    font-weight: 534;
    color: #2F4F4F;
    margin-top: 15px;
  }
}