@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,400&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
}

.dropdown .dropbtn {
  font-size: 16px; 
  font-weight: 700 ;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.home {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  height: 400px;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #2F4F4F;
}

#output {
  width: 450px;
  height: 200px;
  border: 1px solid black;
}

.button {
  margin: 30px 300px 10px 60px;
  width: 870px;
}

#clearBtn {
  float: right;
} 

.home .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-top: 20px;
} 

.home textarea {
  border-radius: 10px;
  border: 0px;
  box-shadow: 3px 5px #008B8B;
}

.IOBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  margin-top: 120px;
  width: 1100px;
  height: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.urlContainer {
  margin-top: 120px;
  width: 1100px;
  height: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#urlInput {
  width: 450px;
  height: 200px;
  color: #2F4F4F;
  font-weight: 700;
  border: 1px solid #008B8B;
}

#urlInput:focus {
  border: 2px solid #008B8B;
}

#textEncodeInput {
  width: 900px;
  height: 200px;
  border: 1px solid #008B8B;
  color: #2F4F4F;
  font-weight: 700;
  margin: 0 auto;
}

#textEncodeInput:focus {
  border: 2px solid #008B8B;
}

#textDecodeInput {
  width: 900px;
  height: 200px;
  border: 1px solid #008B8B;
  color: #2F4F4F;
  font-weight: 700;
  margin: 0 auto;
}

#textDecodeInput:focus {
  border: 2px solid #008B8B;
}

#md5TextInput {
  width: 400px;
  height: 200px;
  border: 1px solid #008B8B;
}

#output {
  color: #2F4F4F;
  font-weight: 700;
}

.outputSection {
  /* margin-top: 900px; */
  width: 1000px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #008B8B;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #2F4F4F;
  display: none;
}

.outputSection .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-top: 20px;
}

.outputSection textarea {
  border-radius: 10px;
  box-shadow: 3px 5px #008B8B;
}

.outputBox {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#textEncodeOutput {
  width: 900px;
  height: 200px;
  color: #2F4F4F;
  font-weight: 700;
  /* margin-left: 50px; */
  margin: 0 auto;
}

#textDecodeOutput {
  width: 900px;
  height: 200px;
  color: #2F4F4F;
  font-weight: 700;
  /* margin-left: 50px; */
  margin: 0 auto;
}

.contentSection {
  width: 1000px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #008B8B;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #2F4F4F;
  display: block;
  padding: 15px;

}

.contentSection p {
  color: #2F4F4F;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.contentSection .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-top: 20px;
}

.contentSubSection .subTitle {
  font-size: 20px;
  padding: 5px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
}

.urlEncodingSection {
  width: 1000px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #008B8B;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #2F4F4F;
  display: block;
  padding: 15px;

}

.urlEncodingSection p {
  color: #2F4F4F;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.urlEncodingSection .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
  margin-top: 20px;
}

.urlEncodingSection .subTitle {
  font-size: 20px;
  padding: 5px;
  font-family: 'Poppins' sans-serif;
  font-weight: 800;
  color: #2F4F4F;
}